.vs/BowlingCalculator/xs/UserPrefs.xml
.vs/BowlingCalculator/xs/project-cache/CalculatorFunctions-Debug.json
.vs/BowlingCalculator/xs/project-cache/CalculatorFunctionTest-Debug.json
.vs/BowlingCalculator/xs/project-cache/CalculatorService-Debug.json
.vs/BowlingCalculator/xs/project-cache/FrameClass-Debug.json
.vs/BowlingCalculator/xs/project-cache/PresenterFunctions-Debug.json
.vs/BowlingCalculator/xs/project-cache/PresenterService-Debug.json
.vs/BowlingCalculator/xs/project-cache/RollsFunctions-Debug.json
.vs/BowlingCalculator/xs/project-cache/RollsService-Debug.json
Calculator/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Calculator/obj/Debug/net7.0/CalculatorFunctions.AssemblyInfo.cs
Calculator/obj/Debug/net7.0/CalculatorFunctions.AssemblyInfoInputs.cache
Calculator/obj/Debug/net7.0/CalculatorFunctions.csproj.AssemblyReference.cache
Calculator/obj/Debug/net7.0/CalculatorFunctions.GeneratedMSBuildEditorConfig.editorconfig
Calculator/obj/Debug/net7.0/CalculatorFunctions.GlobalUsings.g.cs
CalculatorFunctionTest/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.AssemblyInfo.cs
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.AssemblyInfoInputs.cache
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.csproj.AssemblyReference.cache
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.GeneratedMSBuildEditorConfig.editorconfig
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.GlobalUsings.g.cs
CalculatorService/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
CalculatorService/obj/Debug/net7.0/CalculatorService.AssemblyInfo.cs
CalculatorService/obj/Debug/net7.0/CalculatorService.AssemblyInfoInputs.cache
CalculatorService/obj/Debug/net7.0/CalculatorService.csproj.AssemblyReference.cache
CalculatorService/obj/Debug/net7.0/CalculatorService.GeneratedMSBuildEditorConfig.editorconfig
CalculatorService/obj/Debug/net7.0/CalculatorService.GlobalUsings.g.cs
CalculatorService/obj/Debug/net7.0/project.razor.json
FrameClass/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
FrameClass/obj/Debug/net7.0/FrameClass.AssemblyInfo.cs
FrameClass/obj/Debug/net7.0/FrameClass.AssemblyInfoInputs.cache
FrameClass/obj/Debug/net7.0/FrameClass.csproj.AssemblyReference.cache
FrameClass/obj/Debug/net7.0/FrameClass.GeneratedMSBuildEditorConfig.editorconfig
FrameClass/obj/Debug/net7.0/FrameClass.GlobalUsings.g.cs
Presenter/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Presenter/obj/Debug/net7.0/PresenterFunctions.AssemblyInfo.cs
Presenter/obj/Debug/net7.0/PresenterFunctions.AssemblyInfoInputs.cache
Presenter/obj/Debug/net7.0/PresenterFunctions.csproj.AssemblyReference.cache
Presenter/obj/Debug/net7.0/PresenterFunctions.GeneratedMSBuildEditorConfig.editorconfig
Presenter/obj/Debug/net7.0/PresenterFunctions.GlobalUsings.g.cs
PresenterService/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
PresenterService/obj/Debug/net7.0/PresenterService.AssemblyInfo.cs
PresenterService/obj/Debug/net7.0/PresenterService.AssemblyInfoInputs.cache
PresenterService/obj/Debug/net7.0/PresenterService.csproj.AssemblyReference.cache
PresenterService/obj/Debug/net7.0/PresenterService.GeneratedMSBuildEditorConfig.editorconfig
PresenterService/obj/Debug/net7.0/PresenterService.GlobalUsings.g.cs
PresenterService/obj/Debug/net7.0/project.razor.json
Rolls/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Rolls/obj/Debug/net7.0/RollsFunctions.AssemblyInfo.cs
Rolls/obj/Debug/net7.0/RollsFunctions.AssemblyInfoInputs.cache
Rolls/obj/Debug/net7.0/RollsFunctions.csproj.AssemblyReference.cache
Rolls/obj/Debug/net7.0/RollsFunctions.GeneratedMSBuildEditorConfig.editorconfig
Rolls/obj/Debug/net7.0/RollsFunctions.GlobalUsings.g.cs
RollsService/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
RollsService/obj/Debug/net7.0/project.razor.json
RollsService/obj/Debug/net7.0/RollsService.AssemblyInfo.cs
RollsService/obj/Debug/net7.0/RollsService.AssemblyInfoInputs.cache
RollsService/obj/Debug/net7.0/RollsService.csproj.AssemblyReference.cache
RollsService/obj/Debug/net7.0/RollsService.GeneratedMSBuildEditorConfig.editorconfig
RollsService/obj/Debug/net7.0/RollsService.GlobalUsings.g.cs
.DS_Store
