.vs/BowlingCalculator/xs/UserPrefs.xml
.vs/BowlingCalculator/xs/project-cache/CalculatorFunctions-Debug.json
.vs/BowlingCalculator/xs/project-cache/CalculatorFunctionTest-Debug.json
.vs/BowlingCalculator/xs/project-cache/CalculatorService-Debug.json
.vs/BowlingCalculator/xs/project-cache/FrameClass-Debug.json
.vs/BowlingCalculator/xs/project-cache/PresenterFunctions-Debug.json
.vs/BowlingCalculator/xs/project-cache/PresenterService-Debug.json
.vs/BowlingCalculator/xs/project-cache/RollsFunctions-Debug.json
.vs/BowlingCalculator/xs/project-cache/RollsService-Debug.json
Calculator/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Calculator/obj/Debug/net7.0/CalculatorFunctions.AssemblyInfo.cs
Calculator/obj/Debug/net7.0/CalculatorFunctions.AssemblyInfoInputs.cache
Calculator/obj/Debug/net7.0/CalculatorFunctions.csproj.AssemblyReference.cache
Calculator/obj/Debug/net7.0/CalculatorFunctions.GeneratedMSBuildEditorConfig.editorconfig
Calculator/obj/Debug/net7.0/CalculatorFunctions.GlobalUsings.g.cs
CalculatorFunctionTest/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.AssemblyInfo.cs
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.AssemblyInfoInputs.cache
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.csproj.AssemblyReference.cache
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.GeneratedMSBuildEditorConfig.editorconfig
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.GlobalUsings.g.cs
CalculatorService/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
CalculatorService/obj/Debug/net7.0/CalculatorService.AssemblyInfo.cs
CalculatorService/obj/Debug/net7.0/CalculatorService.AssemblyInfoInputs.cache
CalculatorService/obj/Debug/net7.0/CalculatorService.csproj.AssemblyReference.cache
CalculatorService/obj/Debug/net7.0/CalculatorService.GeneratedMSBuildEditorConfig.editorconfig
CalculatorService/obj/Debug/net7.0/CalculatorService.GlobalUsings.g.cs
CalculatorService/obj/Debug/net7.0/project.razor.json
FrameClass/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
FrameClass/obj/Debug/net7.0/FrameClass.AssemblyInfo.cs
FrameClass/obj/Debug/net7.0/FrameClass.AssemblyInfoInputs.cache
FrameClass/obj/Debug/net7.0/FrameClass.csproj.AssemblyReference.cache
FrameClass/obj/Debug/net7.0/FrameClass.GeneratedMSBuildEditorConfig.editorconfig
FrameClass/obj/Debug/net7.0/FrameClass.GlobalUsings.g.cs
Presenter/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Presenter/obj/Debug/net7.0/PresenterFunctions.AssemblyInfo.cs
Presenter/obj/Debug/net7.0/PresenterFunctions.AssemblyInfoInputs.cache
Presenter/obj/Debug/net7.0/PresenterFunctions.csproj.AssemblyReference.cache
Presenter/obj/Debug/net7.0/PresenterFunctions.GeneratedMSBuildEditorConfig.editorconfig
Presenter/obj/Debug/net7.0/PresenterFunctions.GlobalUsings.g.cs
PresenterService/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
PresenterService/obj/Debug/net7.0/PresenterService.AssemblyInfo.cs
PresenterService/obj/Debug/net7.0/PresenterService.AssemblyInfoInputs.cache
PresenterService/obj/Debug/net7.0/PresenterService.csproj.AssemblyReference.cache
PresenterService/obj/Debug/net7.0/PresenterService.GeneratedMSBuildEditorConfig.editorconfig
PresenterService/obj/Debug/net7.0/PresenterService.GlobalUsings.g.cs
PresenterService/obj/Debug/net7.0/project.razor.json
Rolls/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Rolls/obj/Debug/net7.0/RollsFunctions.AssemblyInfo.cs
Rolls/obj/Debug/net7.0/RollsFunctions.AssemblyInfoInputs.cache
Rolls/obj/Debug/net7.0/RollsFunctions.csproj.AssemblyReference.cache
Rolls/obj/Debug/net7.0/RollsFunctions.GeneratedMSBuildEditorConfig.editorconfig
Rolls/obj/Debug/net7.0/RollsFunctions.GlobalUsings.g.cs
RollsService/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
RollsService/obj/Debug/net7.0/project.razor.json
RollsService/obj/Debug/net7.0/RollsService.AssemblyInfo.cs
RollsService/obj/Debug/net7.0/RollsService.AssemblyInfoInputs.cache
RollsService/obj/Debug/net7.0/RollsService.csproj.AssemblyReference.cache
RollsService/obj/Debug/net7.0/RollsService.GeneratedMSBuildEditorConfig.editorconfig
RollsService/obj/Debug/net7.0/RollsService.GlobalUsings.g.cs
.DS_Store
bin/Debug/appsettings.Development.json
bin/Debug/appsettings.json
bin/Debug/AWSSDK.Core.dll
bin/Debug/AWSSDK.SQS.dll
bin/Debug/CalculatorFunctions.dll
bin/Debug/CalculatorFunctions.pdb
bin/Debug/CalculatorService
bin/Debug/CalculatorService.deps.json
bin/Debug/CalculatorService.dll
bin/Debug/CalculatorService.pdb
bin/Debug/CalculatorService.runtimeconfig.json
bin/Debug/FrameClass.dll
bin/Debug/FrameClass.pdb
bin/Debug/PresenterFunctions.dll
bin/Debug/PresenterFunctions.pdb
bin/Debug/PresenterService
bin/Debug/PresenterService.deps.json
bin/Debug/PresenterService.dll
bin/Debug/PresenterService.pdb
bin/Debug/PresenterService.runtimeconfig.json
bin/Debug/RollsFunctions.dll
bin/Debug/RollsFunctions.pdb
bin/Debug/RollsService
bin/Debug/RollsService.deps.json
bin/Debug/RollsService.dll
bin/Debug/RollsService.pdb
bin/Debug/RollsService.runtimeconfig.json
bin/Debug/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/Swashbuckle.AspNetCore.SwaggerUI.dll
Calculator/bin/Debug/net7.0/CalculatorFunctions.deps.json
Calculator/bin/Debug/net7.0/CalculatorFunctions.dll
Calculator/bin/Debug/net7.0/CalculatorFunctions.pdb
Calculator/bin/Debug/net7.0/FrameClass.dll
Calculator/bin/Debug/net7.0/FrameClass.pdb
Calculator/obj/Debug/net7.0/CalculatorFunctions.assets.cache
Calculator/obj/Debug/net7.0/CalculatorFunctions.csproj.CopyComplete
Calculator/obj/Debug/net7.0/CalculatorFunctions.csproj.CoreCompileInputs.cache
Calculator/obj/Debug/net7.0/CalculatorFunctions.csproj.FileListAbsolute.txt
Calculator/obj/Debug/net7.0/CalculatorFunctions.dll
Calculator/obj/Debug/net7.0/CalculatorFunctions.pdb
Calculator/obj/Debug/net7.0/ref/CalculatorFunctions.dll
Calculator/obj/Debug/net7.0/refint/CalculatorFunctions.dll
CalculatorFunctionTest/bin/Debug/net7.0/AWSSDK.Core.dll
CalculatorFunctionTest/bin/Debug/net7.0/AWSSDK.SQS.dll
CalculatorFunctionTest/bin/Debug/net7.0/CalculatorFunctions.dll
CalculatorFunctionTest/bin/Debug/net7.0/CalculatorFunctions.pdb
CalculatorFunctionTest/bin/Debug/net7.0/CalculatorFunctionTest.deps.json
CalculatorFunctionTest/bin/Debug/net7.0/CalculatorFunctionTest.dll
CalculatorFunctionTest/bin/Debug/net7.0/CalculatorFunctionTest.pdb
CalculatorFunctionTest/bin/Debug/net7.0/CalculatorFunctionTest.runtimeconfig.json
CalculatorFunctionTest/bin/Debug/net7.0/CoverletSourceRootsMapping
CalculatorFunctionTest/bin/Debug/net7.0/Cuemon.Core.dll
CalculatorFunctionTest/bin/Debug/net7.0/Cuemon.Reflection.dll
CalculatorFunctionTest/bin/Debug/net7.0/FrameClass.dll
CalculatorFunctionTest/bin/Debug/net7.0/FrameClass.pdb
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.TestPlatform.AdapterUtilities.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
CalculatorFunctionTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
CalculatorFunctionTest/bin/Debug/net7.0/Newtonsoft.Json.dll
CalculatorFunctionTest/bin/Debug/net7.0/NuGet.Frameworks.dll
CalculatorFunctionTest/bin/Debug/net7.0/testhost.dll
CalculatorFunctionTest/bin/Debug/net7.0/WBPA.Amazon.dll
CalculatorFunctionTest/bin/Debug/net7.0/WBPA.Amazon.SimpleQueueService.dll
CalculatorFunctionTest/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CalculatorFunctionTest/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.assets.cache
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.csproj.CopyComplete
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.csproj.CoreCompileInputs.cache
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.csproj.FileListAbsolute.txt
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.dll
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.genruntimeconfig.cache
CalculatorFunctionTest/obj/Debug/net7.0/CalculatorFunctionTest.pdb
CalculatorFunctionTest/obj/Debug/net7.0/ref/CalculatorFunctionTest.dll
CalculatorFunctionTest/obj/Debug/net7.0/refint/CalculatorFunctionTest.dll
CalculatorFunctionTest/obj/CalculatorFunctionTest.csproj.nuget.dgspec.json
CalculatorFunctionTest/obj/CalculatorFunctionTest.csproj.nuget.g.props
CalculatorFunctionTest/obj/CalculatorFunctionTest.csproj.nuget.g.targets
CalculatorFunctionTest/obj/project.assets.json
CalculatorFunctionTest/obj/project.nuget.cache
CalculatorService/bin/Debug/net7.0/appsettings.Development.json
CalculatorService/bin/Debug/net7.0/appsettings.json
CalculatorService/bin/Debug/net7.0/AWSSDK.Core.dll
CalculatorService/bin/Debug/net7.0/AWSSDK.SQS.dll
CalculatorService/bin/Debug/net7.0/CalculatorFunctions.dll
CalculatorService/bin/Debug/net7.0/CalculatorFunctions.pdb
CalculatorService/bin/Debug/net7.0/CalculatorService
CalculatorService/bin/Debug/net7.0/CalculatorService.deps.json
CalculatorService/bin/Debug/net7.0/CalculatorService.dll
CalculatorService/bin/Debug/net7.0/CalculatorService.pdb
CalculatorService/bin/Debug/net7.0/CalculatorService.runtimeconfig.json
CalculatorService/bin/Debug/net7.0/Cuemon.Core.dll
CalculatorService/bin/Debug/net7.0/Cuemon.Reflection.dll
CalculatorService/bin/Debug/net7.0/FrameClass.dll
CalculatorService/bin/Debug/net7.0/FrameClass.pdb
CalculatorService/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
CalculatorService/bin/Debug/net7.0/Microsoft.OpenApi.dll
CalculatorService/bin/Debug/net7.0/Newtonsoft.Json.dll
CalculatorService/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
CalculatorService/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
CalculatorService/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
CalculatorService/bin/Debug/net7.0/WBPA.Amazon.dll
CalculatorService/bin/Debug/net7.0/WBPA.Amazon.SimpleQueueService.dll
.gitignore
.gitignore
.gitignore
.gitignore
CalculatorService/obj/CalculatorService.csproj.nuget.dgspec.json
CalculatorService/obj/CalculatorService.csproj.nuget.g.props
CalculatorService/obj/CalculatorService.csproj.nuget.g.targets
CalculatorService/obj/project.assets.json
CalculatorService/obj/project.nuget.cache
CalculatorService/obj/Debug/net7.0/apphost
CalculatorService/obj/Debug/net7.0/CalculatorService.assets.cache
CalculatorService/obj/Debug/net7.0/CalculatorService.csproj.CopyComplete
CalculatorService/obj/Debug/net7.0/CalculatorService.csproj.CoreCompileInputs.cache
CalculatorService/obj/Debug/net7.0/CalculatorService.csproj.FileListAbsolute.txt
CalculatorService/obj/Debug/net7.0/CalculatorService.dll
CalculatorService/obj/Debug/net7.0/CalculatorService.genruntimeconfig.cache
CalculatorService/obj/Debug/net7.0/CalculatorService.MvcApplicationPartsAssemblyInfo.cache
CalculatorService/obj/Debug/net7.0/CalculatorService.MvcApplicationPartsAssemblyInfo.cs
CalculatorService/obj/Debug/net7.0/CalculatorService.pdb
CalculatorService/obj/Debug/net7.0/staticwebassets.build.json
CalculatorService/obj/Debug/net7.0/ref/CalculatorService.dll
CalculatorService/obj/Debug/net7.0/refint/CalculatorService.dll
CalculatorService/obj/Debug/net7.0/staticwebassets/msbuild.build.CalculatorService.props
CalculatorService/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.CalculatorService.props
CalculatorService/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.CalculatorService.props
FrameClass/bin/Debug/net7.0/FrameClass.deps.json
FrameClass/bin/Debug/net7.0/FrameClass.dll
FrameClass/bin/Debug/net7.0/FrameClass.pdb
FrameClass/obj/Debug/net7.0/FrameClass.assets.cache
FrameClass/obj/Debug/net7.0/FrameClass.csproj.CoreCompileInputs.cache
FrameClass/obj/Debug/net7.0/FrameClass.csproj.FileListAbsolute.txt
FrameClass/obj/Debug/net7.0/FrameClass.dll
FrameClass/obj/Debug/net7.0/FrameClass.pdb
FrameClass/obj/Debug/net7.0/ref/FrameClass.dll
FrameClass/obj/Debug/net7.0/refint/FrameClass.dll
obj/Debug/docker-compose.dcproj.AssemblyReference.cache
obj/Debug/docker-compose.dcproj.CopyComplete
obj/Debug/docker-compose.dcproj.CoreCompileInputs.cache
obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
obj/Docker/CachedComposeConfigFilePaths.cache
obj/Docker/DOCKER_REGISTRY.cache
obj/Docker/docker-compose.vs.debug.g.yml
obj/Docker/docker-compose.vs.debug.partial.g.yml
obj/Docker/docker-compose.vs.release.g.yml
obj/Docker/docker-compose.vs.release.partial.g.yml
obj/Docker/MergedDockerCompose.cache
obj/Docker/TargetOS.cache
obj/Docker/calculatorservice/AbsoluteOutputAssemblyPath.cache
obj/Docker/calculatorservice/BuildContextPath.cache
obj/Docker/calculatorservice/ContainerDebugAbsoluteOutputAssemblyPath.cache
obj/Docker/calculatorservice/ProjectType.cache
obj/Docker/calculatorservice/TargetFramework.cache
obj/Docker/calculatorservice/VolumeMappingsForStaticWebAssets.cache
obj/Docker/presenterservice/AbsoluteOutputAssemblyPath.cache
obj/Docker/presenterservice/BuildContextPath.cache
obj/Docker/presenterservice/ContainerDebugAbsoluteOutputAssemblyPath.cache
obj/Docker/presenterservice/ProjectType.cache
obj/Docker/presenterservice/TargetFramework.cache
obj/Docker/presenterservice/VolumeMappingsForStaticWebAssets.cache
obj/Docker/rollsservice/AbsoluteOutputAssemblyPath.cache
obj/Docker/rollsservice/BuildContextPath.cache
obj/Docker/rollsservice/ContainerDebugAbsoluteOutputAssemblyPath.cache
obj/Docker/rollsservice/ProjectType.cache
obj/Docker/rollsservice/TargetFramework.cache
obj/Docker/rollsservice/VolumeMappingsForStaticWebAssets.cache
Presenter/bin/Debug/net7.0/PresenterFunctions.deps.json
Presenter/bin/Debug/net7.0/PresenterFunctions.dll
Presenter/bin/Debug/net7.0/PresenterFunctions.pdb
Presenter/obj/Debug/net7.0/PresenterFunctions.assets.cache
Presenter/obj/Debug/net7.0/PresenterFunctions.csproj.CoreCompileInputs.cache
Presenter/obj/Debug/net7.0/PresenterFunctions.csproj.FileListAbsolute.txt
Presenter/obj/Debug/net7.0/PresenterFunctions.dll
Presenter/obj/Debug/net7.0/PresenterFunctions.pdb
Presenter/obj/Debug/net7.0/ref/PresenterFunctions.dll
Presenter/obj/Debug/net7.0/refint/PresenterFunctions.dll
PresenterService/bin/Debug/net7.0/appsettings.Development.json
PresenterService/bin/Debug/net7.0/appsettings.json
PresenterService/bin/Debug/net7.0/AWSSDK.Core.dll
PresenterService/bin/Debug/net7.0/AWSSDK.SQS.dll
PresenterService/bin/Debug/net7.0/Cuemon.Core.dll
PresenterService/bin/Debug/net7.0/Cuemon.Reflection.dll
PresenterService/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
PresenterService/bin/Debug/net7.0/Microsoft.OpenApi.dll
PresenterService/bin/Debug/net7.0/Newtonsoft.Json.dll
PresenterService/bin/Debug/net7.0/PresenterFunctions.dll
PresenterService/bin/Debug/net7.0/PresenterFunctions.pdb
PresenterService/bin/Debug/net7.0/PresenterService
PresenterService/bin/Debug/net7.0/PresenterService.deps.json
PresenterService/bin/Debug/net7.0/PresenterService.dll
PresenterService/bin/Debug/net7.0/PresenterService.pdb
PresenterService/bin/Debug/net7.0/PresenterService.runtimeconfig.json
PresenterService/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
PresenterService/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
PresenterService/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
PresenterService/bin/Debug/net7.0/WBPA.Amazon.dll
PresenterService/bin/Debug/net7.0/WBPA.Amazon.SimpleQueueService.dll
.gitignore
PresenterService/obj/PresenterService.csproj.nuget.dgspec.json
PresenterService/obj/PresenterService.csproj.nuget.g.props
PresenterService/obj/PresenterService.csproj.nuget.g.targets
PresenterService/obj/project.assets.json
PresenterService/obj/project.nuget.cache
PresenterService/obj/Debug/net7.0/apphost
PresenterService/obj/Debug/net7.0/PresenterService.assets.cache
PresenterService/obj/Debug/net7.0/PresenterService.csproj.CopyComplete
PresenterService/obj/Debug/net7.0/PresenterService.csproj.CoreCompileInputs.cache
PresenterService/obj/Debug/net7.0/PresenterService.csproj.FileListAbsolute.txt
PresenterService/obj/Debug/net7.0/PresenterService.dll
PresenterService/obj/Debug/net7.0/PresenterService.genruntimeconfig.cache
PresenterService/obj/Debug/net7.0/PresenterService.MvcApplicationPartsAssemblyInfo.cache
PresenterService/obj/Debug/net7.0/PresenterService.MvcApplicationPartsAssemblyInfo.cs
PresenterService/obj/Debug/net7.0/PresenterService.pdb
PresenterService/obj/Debug/net7.0/staticwebassets.build.json
PresenterService/obj/Debug/net7.0/ref/PresenterService.dll
PresenterService/obj/Debug/net7.0/refint/PresenterService.dll
PresenterService/obj/Debug/net7.0/staticwebassets/msbuild.build.PresenterService.props
PresenterService/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.PresenterService.props
PresenterService/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.PresenterService.props
Rolls/bin/Debug/net7.0/FrameClass.dll
Rolls/bin/Debug/net7.0/FrameClass.pdb
Rolls/bin/Debug/net7.0/RollsFunctions.deps.json
Rolls/bin/Debug/net7.0/RollsFunctions.dll
Rolls/bin/Debug/net7.0/RollsFunctions.pdb
Rolls/obj/Debug/net7.0/RollsFunctions.assets.cache
Rolls/obj/Debug/net7.0/RollsFunctions.csproj.CopyComplete
Rolls/obj/Debug/net7.0/RollsFunctions.csproj.CoreCompileInputs.cache
Rolls/obj/Debug/net7.0/RollsFunctions.csproj.FileListAbsolute.txt
Rolls/obj/Debug/net7.0/RollsFunctions.dll
Rolls/obj/Debug/net7.0/RollsFunctions.pdb
Rolls/obj/Debug/net7.0/ref/RollsFunctions.dll
Rolls/obj/Debug/net7.0/refint/RollsFunctions.dll
RollsService/bin/Debug/net7.0/appsettings.Development.json
RollsService/bin/Debug/net7.0/appsettings.json
RollsService/bin/Debug/net7.0/AWSSDK.Core.dll
RollsService/bin/Debug/net7.0/AWSSDK.SQS.dll
RollsService/bin/Debug/net7.0/Cuemon.Core.dll
RollsService/bin/Debug/net7.0/Cuemon.Reflection.dll
RollsService/bin/Debug/net7.0/FrameClass.dll
RollsService/bin/Debug/net7.0/FrameClass.pdb
RollsService/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
RollsService/bin/Debug/net7.0/Microsoft.OpenApi.dll
RollsService/bin/Debug/net7.0/RollsFunctions.dll
RollsService/bin/Debug/net7.0/RollsFunctions.pdb
RollsService/bin/Debug/net7.0/RollsService
RollsService/bin/Debug/net7.0/RollsService.deps.json
RollsService/bin/Debug/net7.0/RollsService.dll
RollsService/bin/Debug/net7.0/RollsService.pdb
RollsService/bin/Debug/net7.0/RollsService.runtimeconfig.json
RollsService/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
RollsService/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
RollsService/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
RollsService/bin/Debug/net7.0/WBPA.Amazon.dll
RollsService/bin/Debug/net7.0/WBPA.Amazon.SimpleQueueService.dll
.gitignore
RollsService/obj/Debug/net7.0/apphost
RollsService/obj/Debug/net7.0/RollsService.assets.cache
RollsService/obj/Debug/net7.0/RollsService.csproj.CopyComplete
RollsService/obj/Debug/net7.0/RollsService.csproj.CoreCompileInputs.cache
RollsService/obj/Debug/net7.0/RollsService.csproj.FileListAbsolute.txt
RollsService/obj/Debug/net7.0/RollsService.dll
RollsService/obj/Debug/net7.0/RollsService.genruntimeconfig.cache
RollsService/obj/Debug/net7.0/RollsService.MvcApplicationPartsAssemblyInfo.cache
RollsService/obj/Debug/net7.0/RollsService.MvcApplicationPartsAssemblyInfo.cs
RollsService/obj/Debug/net7.0/RollsService.pdb
RollsService/obj/Debug/net7.0/staticwebassets.build.json
RollsService/obj/Debug/net7.0/ref/RollsService.dll
RollsService/obj/Debug/net7.0/refint/RollsService.dll
RollsService/obj/Debug/net7.0/staticwebassets/msbuild.build.RollsService.props
RollsService/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.RollsService.props
RollsService/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.RollsService.props
